<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>../includes</directory>
            <directory>../api</directory>
            <directory>../config</directory>
        </include>
    </source>
    <php>
        <const name="PHPUNIT_TEST" value="true"/>
    </php>
</phpunit>
